<ul id="navbar-menu" class="navbar-menu">
    <li>
        <button class="hamburger" id="hamburger-btn">☰</button>
    </li>
    <li class="spacer-nav-item">

    </li>
    <li class="nav-sign-item navbar-item">
        <a href="#" class="btn-sign">انضم الينا</a>
    </li>
    <li class="navbar-item">
        <a href="#">من نحن</a>
    </li>
    <li class="navbar-item">
        <a href="#">اتصل بنا</a>
    </li>
   <li class="navbar-item">
        <a href="#">دوراتنا</a>
    </li>
    <li class="nav-sign-item navbar-item">
        <a href="#">الرئيسية</a>
    </li>
    <li>
        <a href="#"><img class="logo-img" src="./assets/images/logo.png"></a>
    </li>
</ul>

<!-- Extended Mobile Menu -->
<div class="mobile-dropdown" id="mobile-dropdown">
    <a href="#">الرئيسية</a>
    <a href="#">دوراتنا</a>
    <a href="#">اتصل بنا</a>
    <a href="#">من نحن</a>
    <a href="#" class="btn-sign-mobile">انضم الينا</a>
</div>